body{ text-align: center; }
.content {
	padding-right: 30px;
	padding-left: 30px;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	width: auto;
	min-width: 950px;
	max-width: none;
	display: inline-block;
}

.canvas-title {
	margin-bottom: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.drawwrapper {
	padding-bottom: 30px;
	border: 1px solid #ced4da;
	border-radius: 10px;
	border-top-right-radius: 0px;
}

.form-control {
	height: 2.375rem;
}

.btn.active {
    box-shadow: none !important;
}

.drawsidebar {
	float: left;
	padding: 15px;
	min-width: 220px;
	max-width: 220px;
}

.drawmain {
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;
	width: auto;
}

.drawsidebar .row {
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.drawsidebar input {
	text-align: center;
}

#drawHelp {
	text-align: left;
}

.drawcanvas {
	border: 1px solid #ced4da;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pancanvas {
	cursor: move;
}

.nopancanvas {
	cursor: no-drop;
}

.drawbottombar {
	top: 15px;
}

span.activeText {
	border: 2px solid #ced4da;
	padding: 3px;
	position: absolute;
	transform: translate(-50%, -50%);
	word-wrap: break-word;
	white-space: nowrap;
}

.minimap {
	border: 1px solid #ced4da;
	background-color: #e9ecef;
}

.popover-body > p {
	padding-top: 10px;
}