<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h2><img src="{{ url_for('static', filename='img/onitools_mascot.svg', _external=True) }}" width="50px"/> Reset password</h2>
<hr>
<p><a href="{{ reset_link }}">Click here to reset your password</a></p>

<footer><small><a href="{{ url_for('Home.main', _external=True) }}">Onitools.moe</a></small></footer>
