{% extends "onitools_layout.html" %}

{% from "_macros.html" import flashed %}

{% block title %}Mobu encounter manager{% endblock %}

{% block body %}
<div class="inner-frame">
	{{ flashed() }}
	<h2>Mobu encounter manager</h2>

	<p>"Mobu" comes from the Japanese word for "nameless, faceless NPC", and is a tool for tracking HP and rolling actions for groups of creatures in tabletop RPG encounters.</p>

	<p>The interface will load with an example encounter that you can play around with. HP, damage, and healing values can be whole numbers or dice expressions, and dice expressions can be included in action descriptions between <code>[</code>square brackets<code>]</code>.</p>

	<p>Basic arithmetic, parentheses, and keep/drop are allowed in dice expressions. Keep/drop uses <a href="https://wiki.roll20.net/Dice_Reference#Keep_.2F_Drop_Dice_.28B.2CF.29_khN.2FklN.2FdhN.2FdlN">Roll20</a> syntax (other Roll20 features are not (yet) supported).</p>

	<p>Encounters are saved locally to your browser based on the name you give them. Unless you delete your cache, your encounter will always reappear as you left it at <code>/mobu/run/[your encounter name]</code>. At the moment, there is no way to share encounters across devices.</p>

	<form class="text-center" action="{{ url_for('.main') }}" method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<div class="form-group col-6 offset-3 text-left">
			<label for="mobuName">Encounter name:</label>
			<input id="mobuName" name="mobuName" class="form-control" type="text" value="My_Encounter1"/>
			<small>Can only contain letters, numbers, and underscores.</small>
		</div>
		<input id="mobuSubmit" class="btn btn-secondary" type="submit" value="Start">
	</form>

	<h3>Instructions</h3>
	<a data-toggle="collapse" href="#mobuInstructions" role="button" aria-expanded="false" aria-controls="mobuInstructions">
		[Show]
	<hr/>
	</a>
	<div class="collapse" id="mobuInstructions">
		<p>The encounter editor should be self-explanatory. Running the encounter can be done entirely with the keyboard or entirely with a mouse or touchscreen. The keyboard controls require some explanation.</p>

		<p>Below I have an example encounter with five goblins, a bugbear, and three ghasts.</p>

		<img src="{{ url_for('static', filename='img/mobu_tut_01.png') }}" class="img-fluid"/>

		<p>If I want to select the bugbear, all I have to do is type "b" (upper or lower case). Since there's only one monster that begins with "b", the bugbear will immediately be selected, and the action options will be displayed.</p>

		<img src="{{ url_for('static', filename='img/mobu_tut_02.png') }}" class="img-fluid"/>

		<p>Once again, all I have to do is start typing the option I want, or press space to cancel and return to the creature selection menu. I want the bugbear to take some damage, so I'll type "d". Since no other action starts with "d", the damage option will be selected without my having to do anything else. So far, I've only typed two keys.</p>

		<img src="{{ url_for('static', filename='img/mobu_tut_03.png') }}" class="img-fluid"/>

		<p>You can use the provided keypad to input the damage, but if you're on keyboard, you probably just want to type normally. As mentioned, you can input a dice expression here, or just type a number. Note that, when applying damage or healing to multiple creatures, the dice expression will be <em>re-rolled for each creature</em>.</p>

		<img src="{{ url_for('static', filename='img/mobu_tut_04.png') }}" class="img-fluid"/>

		<p>We see the result of the action displayed here. For keyboard users, type any key to return to the creature select. For mouse and touch, you can click or tap anywhere in the lower panel.</p>

		<p>Now let's say I want the goblins to do something. There are two monsters that begin with "g", so typing "g" will narrow the options down to two, but it won't select anything yet.</p>

		<img src="{{ url_for('static', filename='img/mobu_tut_05.png') }}" class="img-fluid"/>

		<p>The answer is, of course, to type "o", the next letter in "goblin", which will cause "goblin" to automatically become selected.</p>

		<p>I now see a list of all five goblins, complete with randomly-generated distinguishing features. For ease of selection, each creature has been prefixed with a unique letter. You can type the letter (lower case) to select one creature, or hold down shift and type the letters of multiple creatures you want to select.</p>

		<img src="{{ url_for('static', filename='img/mobu_tut_06.png') }}" class="img-fluid"/>

		<p>To finalize the selection, I just let go of shift, and goblins B, D, and E are selected. I see the action menu much like before. This time, the options "scimitar" and "shortbow" both start with "s". I want the goblins to attack with their scimitars, so I simply type "sc" and the result immediately shows up.</p>

		<img src="{{ url_for('static', filename='img/mobu_tut_07.png') }}" class="img-fluid"/>

		<p>And that's all there is to it! Happy rolling.</p>
	</div>

	<h3>Upcoming</h3>
	<a data-toggle="collapse" href="#mobuFuture" role="button" aria-expanded="false" aria-controls="mobuFuture">
		[Show]
	</a>
	<hr/>
	<div class="collapse" id="mobuFuture">
		<p>In case you couldn't tell, I ran out of steam partway through coming up with random descriptors; the items lower on the list tend to produce pretty lame results. <a href="https://gist.github.com/lyger/dd2c8f497d2803a7a65d714415d8cbcc">Here</a> are all the templates used to generate monster descriptions. Text between <code>[</code>square brackets<code>]</code> in the "templates" are substituted with random selections from the "words" lists below. An <code>@</code> before a square bracket tells the template to add an "a" or "an", depending on what kind of word gets chosen. If you want to contribute ideas, let me know (<a href="mailto:admin@onitools.moe">admin@onitools.moe</a>).</p>

		<p>As mentioned above, encounters are only saved locally at the moment. In the future, I may allow encounters to be permanently saved on the server, or to be downloaded to your computer and imported when you need them.</p>
	</div>

</div> <!-- /inner-frame -->
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='mobu_index.js') }}"></script>
{% endblock %}