{% extends 'onitools_layout.html' %}

{% from "_macros.html" import flashed, standard_form_group, horizontal_form_group %}

{% block title %}Create new Reki{% endblock %}

{% block body %}
<div class="inner-frame thin p-5">
	{{ flashed() }}
	<h2>Step 2</h2>

	<form action="{{ url_for('.create_new2') }}" method="POST">
		{{ form.csrf_token }}
		<h3 class="mt-3">Months</h3>
		{% for n in range(num_months) %}
		<div class="row">
			{{ standard_form_group(form['month_' ~ n ~ '_name'], wrapper_class='col-8') }}
			{{ standard_form_group(form['month_' ~ n ~ '_days'], wrapper_class='col-4') }}
		</div>
		{% endfor %}

		<h3 class="mt-3">Weekdays</h3>
		{% for n in range(num_weekdays) %}
		{{ horizontal_form_group(form['weekday_' ~ n ~ '_name'], label_class='col-4', input_class='col-8') }}
		{% endfor %}
		<input class="btn btn-secondary" type="submit" value="Next"/>
	</form>
</div>
{% endblock %}