{% extends 'onitools_layout.html' %}

{% from "_macros.html" import flashed, deleteModal, renameModal %}

{% block title %}Reki timeline manager{% endblock %}

{% block body %}
<div class="inner-frame">
	{{ flashed() }}
	<h2>Reki timeline manager <span class="badge badge-secondary">Beta</span></h2>

	<p>"Reki" comes from the Japanese word for "calendar", and is a tool for managing in-game time for tabletop RPGs. Reki lets you:</p>

	<ul>
		<li>Customize and track years, months, and days of the week.</li>
		<li>Schedule events, such as "orcs attack in 3 days" or "paralyzation ends in 5 rounds", and receive notifications when they occur in-game.</li>
		<li>Track the rate at which characters and rumors travel around your world.</li>
	</ul>

	<div class="alert alert-info">
		<strong>Reki is still in beta.</strong> You may experience bugs. Please report anything you find to <a href="mailto:admin@onitools.moe">admin@onitools.moe</a>.
	</div>

	{% if current_user.is_authenticated -%}
		<p class="text-center"><a class="btn btn-secondary" href="{{ url_for('.create_new1') }}">New Reki</a></p>
		{% if current_user.reki_calendars|length > 0 -%}
		<div class="col-6 offset-3">
			<div class="card">
				<div class="card-header">
					<h4>Created Rekis</h4>
				</div>
				<div class="list-group list-group-flush">
				{%- for reki in current_user.reki_calendars %}
					<div class="list-group-item list-group-item-action">
						<a class="float-left h4 text-primary my-1" href="{{ url_for('Reki.run_app', rid=reki.id) }}">{{ reki.name }}</a>
						<div class="float-right">
							<button class="btn btn-link" type="button" data-toggle="modal" data-target="#renameRekiModal" data-id="{{ reki.id }}">Rename</button>
					        <button class="btn btn-link" type="button" data-toggle="modal" data-target="#deleteRekiModal" data-id="{{ reki.id }}">Delete</button>
				    	</div>
					</div>
				{% endfor -%}
				</div>
			</div>
		</div>
		{%- endif %}
	{%- else -%}
	<div class="alert alert-info">Please <a class="alert-link" href="{{ url_for_security('login') }}">login</a> or <a class="alert-link" href="{{ url_for_security('register') }}">register</a> to use this tool.</div>
	{% endif %}

	<hr/>
	
	<h3>Update 2018-3-4</h3>
	<ul>
		<li>Interface tweaks.</li>
		<li>Allow scrolling up and down timeline.</li>
		<li>Fixed 24-hour clock not displaying in event descriptions.</li>
		<li>Added manual save button.</li>
	</ul>

</div>
{% endblock %}


{% block footer %}
{{ renameModal('Reki', 'Rename Reki') }}
{{ deleteModal('Reki', 'Delete Reki') }}
{% endblock %}


{% block scripts %}
<script type="text/javascript">
	$('#renameRekiModal').on('show.bs.modal', function(event) {
		var button = $(event.relatedTarget);
		var id = button.data('id');
		var form = $(this).find('form');
		form.attr('action', "{{ url_for('Reki.rename', next=url_for('Reki.main')) }}");
		form.find('#renameRekiID').val(id);
	});

	$('#deleteRekiModal').on('show.bs.modal', function(event) {
		var button = $(event.relatedTarget);
		var id = button.data('id');
		var form = $(this).find('form');
		form.attr('action', "{{ url_for('Reki.delete', next=url_for('Reki.main')) }}");
		form.find('#deleteRekiID').val(id);
	});
</script>
{% endblock %}