{% extends "onitools_layout.html" %}

{% from "_macros.html" import flashed, mobile_warning, deleteModal, renameModal %}

{% block title %}Sozo shared canvas{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
{% endblock %}

{% block precontent %} {{ mobile_warning('Sozo') }}{% endblock %}

{% block body %}
<div class="inner-frame thin">
	{{ flashed() }}
	<h2>Create new Sozo shared canvas</h2>
	<form class="mb-3" action="{{ url_for('.main') }}" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<div class="form-group">
			<label class="form-label" for="sozoname">Canvas name</label>
			<input name="name" id="sozoname" type="text" class="form-control" placeholder="My canvas">
		</div>
		<div class="form-group row">
			<div class="col">
				<label class="form-label" for="sozowidth">Width</label>
				<div class="input-group">
					<input name="width" id="sozowidth" type="number" class="form-control" min="800" max="3000" value="800">
					<div class="input-group-append">
						<span class="input-group-text">px</span>
					</div>
				</div>
			</div>
			<div class="col">
				<label class="form-label" for="sozowidth">Height</label>
				<div class="input-group">
					<input name="height" id="sozoheight" type="number" class="form-control" min="600" max="2000" value="600">
					<div class="input-group-append">
						<span class="input-group-text">px</span>
					</div>
				</div>
			</div>
			<div class="col">
				<label class="form-label" for="sozoback">Background color</label>
				<input name="background" id="sozoback" type="color" class="form-control" value="#FFFFFF">
			</div>
		</div>
		<div class="form-group">
			<label class="form-label" for="pass">Passphrase (optional)</label>
			<input name="pass" id="sozopass" type="password" class="form-control">
		</div>
		<div class="text-center">
			<input type="submit" class="btn btn-secondary" value="Create">
		</div>
	</form>

	{% if current_user.is_authenticated and current_user.sozo_canvases|length > 0 -%}
	<div class="col-8 offset-2">
		<div class="card">
			<div class="card-header">
				<h4>Created Canvases</h4>
			</div>
			<div class="list-group list-group-flush">
			{%- for sozo in current_user.sozo_canvases %}
				<div class="list-group-item list-group-item-action">
					<a class="float-left h4 text-primary my-1" href="{{ url_for('.show_canvas', stringid=sozo.stringid) }}">{{ sozo.name }}</a>
					<div class="float-right">
						<button class="btn btn-link" type="button" data-toggle="modal" data-target="#renameSozoModal" data-id="{{ sozo.stringid }}">Rename</button>
				        <button class="btn btn-link" type="button" data-toggle="modal" data-target="#deleteSozoModal" data-id="{{ sozo.stringid }}">Delete</button>
			    	</div>
				</div>
			{% endfor -%}
			</div>
		</div>
	</div>
	{%- endif -%}

	<p>
		<a class="btn btn-link" data-toggle="collapse" href="#sozoInfo" role="button" aria-expanded="false" aria-controls="sozoInfo"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Sozo?</a>
	</p>
	<div class="collapse" id="sozoInfo">
	  <div class="card card-body">
	    "Sozo" comes from the Japanese word for "create" or "imagination", and is a tool for sharing drawings and text in real time. When you create a canvas, simply send the link to your friends, and you can begin drawing together.
	  </div>
	</div>
</div> <!-- /inner-frame -->
{% endblock %}

{% block footer %}
{{ renameModal('Sozo', 'Rename Canvas') }}
{{ deleteModal('Sozo', 'Delete Canvas') }}
{% endblock %}


{% block scripts %}
<script type="text/javascript">
	$('#renameSozoModal').on('show.bs.modal', function(event) {
		var button = $(event.relatedTarget);
		var id = button.data('id');
		var form = $(this).find('form');
		form.attr('action', "{{ url_for('Sozo.rename', next=url_for('Sozo.main')) }}");
		form.find('#renameSozoID').val(id);
	});

	$('#deleteSozoModal').on('show.bs.modal', function(event) {
		var button = $(event.relatedTarget);
		var id = button.data('id');
		var form = $(this).find('form');
		form.attr('action', "{{ url_for('Sozo.delete', next=url_for('Sozo.main')) }}");
		form.find('#deleteSozoID').val(id);
	});
</script>
{% endblock %}