<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Onitools.moe{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.75">

	<link rel="shortcut icon" href="{{ url_for('static', filename='onitools_favicon.ico') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/onitools.css') }}">
{% block stylesheets %}{% endblock %}
</head>
<body>

	<div class="container content">
		<ul class="nav justify-content-end">
			{% if current_user.is_authenticated %}
			<li class="nav-item"><a class="nav-link" href="{{ url_for('Home.profile') }}">{{ current_user.email }}</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for_security('logout') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Logout</a></li>
			{% else %}
			<li class="nav-item"><a class="nav-link" href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Login</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Register</a></li>
			{% endif %}
		</ul>

{% block precontent %}{% endblock %}

		<div class="logo-bar">
			<nav class="navbar navbar-expand-lg navbar-light">
				<h1 class="logo-home"><a href="{{ url_for('Home.main') }}">Onitools.moe</a></h1>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarLinks">
					<div class="navbar-nav">
{% for page in pages %}
						<a class="nav-item nav-link{% if page == active_page %} current{% endif %}" href="{{ url_for(page + '.main') }}">{{ page }}</a>
{% endfor %}
					</div>
				</div>
			</nav>
		</div>

{% block body %}{% endblock %}

	</div> <!-- /container -->

{% block footer %}{% endblock %}

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
{# <script src="{{ url_for('static', filename='onitools.js') }}"></script> #}
{% block scripts %}{% endblock %}

</html>