{% extends "profile_layout.html" %}

{% block title %}Profile: {{ current_user.email }}{% endblock %}

{% block profilecontent %}
<h2 id="SozoHeader">Sozo canvases <a href="{{ url_for('Sozo.main') }}" class="btn btn-secondary btn-sm">New</a></h2>
<div class="card card-body">
	{% for canvas in current_user.sozo_canvases %}
		<div class="clearfix profile-list-item">
			<a class="float-left h4 text-primary" href="{{ url_for('Sozo.show_canvas', stringid=canvas.stringid) }}">
				{{ canvas.name }}
			</a>

			<div class="float-right">
				<button class="btn btn-link" data-toggle="modal" data-target="#renameSozoModal" data-canvasid="{{canvas.stringid}}">Rename</button>
				<button class="btn btn-link" data-toggle="modal" data-target="#deleteSozoModal" data-canvasid="{{canvas.stringid}}">Delete</button>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}

{% block footer %}
<div class="modal fade" id="renameSozoModal" tabindex="-1" role="dialog" aria-labelledby="renameSozoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="renameSozoModalLabel">Rename canvas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<input type="hidden" name="canvasID" id="renameCanvasID"/>
        <div class="modal-body">
          <div class="form-group">
            <label for="newSozoName" class="col-form-label">New name:</label>
            <input type="text" class="form-control" id="newSozoName" name="newSozoName">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-secondary" value="Rename">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteSozoModal" tabindex="-1" role="dialog" aria-labelledby="deleteSozoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteSozoModalLabel">Delete canvas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<input type="hidden" name="canvasID" id="deleteCanvasID"/>
        <div class="modal-body">
          <p><span class="font-weight-bold">Are you sure?</span> This action cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-secondary" value="Delete">
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$('#renameSozoModal').on('show.bs.modal', function(event) {
		var button = $(event.relatedTarget);
		var canvasID = button.data('canvasid');
		var form = $(this).find('form');
		form.attr('action', "{{ url_for('Sozo.rename_canvas', next=url_for('Home.profile_home') + '#SozoHeader') }}");
		form.find('#renameCanvasID').val(canvasID);
	});

	$('#deleteSozoModal').on('show.bs.modal', function(event) {
		var button = $(event.relatedTarget);
		var canvasID = button.data('canvasid');
		var form = $(this).find('form');
		form.attr('action', "{{ url_for('Sozo.delete_canvas', next=url_for('Home.profile_home') + '#SozoHeader') }}");
		form.find('#deleteCanvasID').val(canvasID);
	});
</script>
{% endblock %}