{% extends 'onitools_layout.html' %}

{% from "_macros.html" import flashed %}

{% block title %}Reki timeline manager{% endblock %}

{% block body %}
<div class="inner-frame">
	{{ flashed() }}
	<h2>Reki timeline manager <span class="badge badge-secondary">Beta</span></h2>

	<p>"Reki" comes from the Japanese word for "calendar", and is a tool for managing in-game time for tabletop RPGs. Reki lets you:</p>

	<ul>
		<li>Customize and track years, months, and days of the week.</li>
		<li>Schedule events, such as "orcs attack in 3 days" or "paralyzation ends in 5 rounds", and receive notifications when they occur in-game.</li>
		<li>Track the rate at which characters and rumors travel around your world.</li>
	</ul>

	<div class="alert alert-info">
		<strong>Reki is still in beta.</strong> You may experience bugs. Please report anything you find to <a href="mailto:admin@onitools.moe">admin@onitools.moe</a>.
	</div>

	{% if current_user.is_authenticated -%}
		<p class="text-center"><a class="btn btn-secondary" href="{{ url_for('.create_new1') }}">New Reki</a></p>
		{% if current_user.reki_calendars|length > 0 -%}
		<div class="col-6 offset-3">
			<div class="card">
				<div class="card-header">
					<h4>Created Rekis</h4>
				</div>
				<div class="list-group list-group-flush" action="{{ url_for('.main') }}" method="POST">
				{%- for reki in current_user.reki_calendars %}
					<a class="list-group-item list-group-item-action" href="{{ url_for('Reki.run_app', rid=reki.id) }}">
						{{ reki.name }}
					</a>
				{% endfor -%}
				</div>
			</div>
		</div>
		{%- endif %}
	{%- else -%}
	<div class="alert alert-info">Please <a class="alert-link" href="{{ url_for_security('login') }}">login</a> or <a class="alert-link" href="{{ url_for_security('register') }}">register</a> to use this tool.</div>
	{% endif %}
</div>
{% endblock %}