{% extends "onitools_layout.html" %}

{% from "onitools_layout.html" import flashed, mobile_warning %}

{% block title %}Sozo shared canvas{% endblock %}

{% block precontent %} {{ mobile_warning('Sozo') }}{% endblock %}

{% block body %}
<div class="inner-frame thin">
	{{ flashed() }}
	<h2>Enter passphrase for canvas "{{ canvas_name }}"</h2>
	<form action="{{ url_for('.show_canvas', stringid=stringid) }}" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<div class="form-group">
			<label class="form-label" for="pass">Passphrase</label>
			<input name="pass" id="sozopass" type="password" class="form-control">
		</div>
		<div class="text-center">
			<input type="submit" class="btn btn-light" value="Submit">
		</div>
	</form>
</div> <!-- /inner-frame -->
{% endblock %}